*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
   
}

.resume-body{
    
   
    width: 80%;
    margin:  auto;
    padding: 30px;
}
.resume-header{
    background-color: #2309b9;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #fcfcfc;
}
.img{
    display: flex;
    width: 100%;
   
    position: relative;
}
#myImage{
 visibility: hidden;
 border: 5px solid #000000;
 margin-bottom: 20px;
}
#showPic{
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    right: 160px;
    top: 190px;
}
#showPic:hover{
    background-color: #0056b3;
}
.personalinfo {
    margin-block: 40px;
    margin-left: 200px;
  visibility: hidden;  
    
}
button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   margin-left: 00px;
}
.skills{
    margin-top: 20px;
     margin-left: 200px;
    visibility: hidden;
    margin-bottom: 20px;
}
form{
    margin-top: 20px;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
label{
    font-size: 20px;
    margin-bottom: 10px;
}
input{
    width: 390px;
    padding: 20px;
    border-radius: 50px;
    border: 1px solid #000000;
}



input:focus{
    width: 590px;
    padding: 20px;
    
}